ENVIRONMENT=
DATABASE_URL=
GOOGLE_WEB_CLIENT_ID=
GOOGLE_IOS_CLIENT_ID=
GOOGLE_ANDROID_CLIENT_ID=
JWT_SECRET=
JWT_ALGORITHM=
JWT_ACCESS_TOKEN_EXPIRE_SECONDS=
JWT_REFRESH_TOKEN_EXPIRE_SECONDS=
LOG_LEVEL=
SQL_LOG=
DOCKER_USERNAME=
DOCKER_ACCESS_TOKEN=
